# macOS
.DS_Store

# Node
node_modules/
npm-debug.log*

# Editor / IDE
.idea/
.vscode/
*.swp
*.swo

# Environment variables
.env
.env.local

# Logs
*.log

# wrangler files
.wrangler
.dev.vars*
!.dev.vars.example
!.env.example
